# Python
__pycache__/
*.py[cod]
.venv/
venv/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env

# Data
data/
*.csv
*.csv.gz

# Results
results/

# Docs
docs/

# PostgreSQL exports
*.sql.bak
*.dump
*.backup

# OS files
.DS_Store
Thumbs.db